/*
 * This file is part of IPLAY.
 * (c) IPY Holding AB.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.navigation_footer{
  background-color: $color-black;
  color: #FFF;
  height: 170px;

  padding-top: 25px;
  padding-bottom: 25px;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;

  .menu{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;

    ul{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;

      li{

        a{
          text-decoration: none;
          font-size: 16px;
          line-height: 16px;
          color: #FFF;
          text-transform: uppercase;
          font-weight: 800;

          @include bp(tablet){
            font-size: 20px;
          }

          &:hover{
            color: $color-green-hover;
          }
        }
      }
    }
  }

  .current_page_item{
    display: none;
  }

  .footer_social{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    a{
      height: 50px;

      img, svg{
        // height: 100%;
        width: 25px;
        height: 25px;
        color: $color-green;
      }
    }
  }

  .copyright{
    align-self: center;
  }
}
