/*
 * This file is part of IPLAY.
 * (c) IPY Holding AB.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

header{
  height: 70px;
  max-height: 116px;
  background-color: transparent;

  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  @include bp(tablet){
    height: 100%;
    justify-content: space-between;
    padding: 0 5%;
  }

  .logo{
    margin-left: 5%;
    height: 50%;
    align-self: center;
    z-index: 20;
    flex: 1;

    img{
      height: 100%;
    }
  }

  .header_download{
    align-self: center;
    background-color: $color-green;
    text-decoration: none;
    color: #000;
    height: 35px;
    padding: 0 10px;
    margin-right: 5%;
    font-size: 11px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    @include bp(tablet){
      display: none;
    }
  }

  nav{
    display: none;

    @include bp(tablet){
      display: block;
      align-self: center;
      flex: 1;

      .menu{

        ul{
          display: flex;
          justify-content: space-between;

          a{
            text-decoration: none;
            color: #FFF;

            &:hover{
              color: $color-green-hover;
            }
          }
        }
      }
    }
  }
}
