/*
 * This file is part of IPLAY.
 * (c) IPY Holding AB.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

*{
  font-family: "Helvetica Neue";
}

main{

  .title{
    text-align: center;
    color: $color-text-light;
    margin: 0;

    &.main_title{
      font-size: 28px;
      line-height: 33px;
      font-weight: 800;
      // letter-spacing: 1px;

      @include bp(desktop){
        font-size: 60px;
        line-height: 86px;
      }
    }

    &.secondary_title{
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;

      @include bp(desktop){
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .body{
    color: $color-text-light;
    font-size: 16px;
    line-height: 26px;
  }

  a{
    text-decoration: none;
    font-size: 20px;
  }
}
