/*
 * This file is part of IPLAY.
 * (c) IPY Holding AB.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

// Colors
$color-green: #00FF7B;
$color-gray-dark: #D8D8D8;
$color-gray-light: #F1F1F1;

$color-text-dark: #19191D;
