/*
 * This file is part of IPLAY.
 * (c) IPY Holding AB.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.the_app{

  .upcoming{

    .main_title{
      padding-top: 57px;
      margin-bottom: 40px;
      margin-top: 60px;
    }

    .upcoming_features_container{
      margin-bottom: 80px;
      height: 139px;
      overflow-x: scroll;
      display: flex;

      .feature_container{
        display: flex;
        flex-flow: column wrap;
        width: 200px;
        color: gray;

        .block{
          align-self: center;
          margin: 15px auto;
          height: 30px;
          width: 35px;
          transform: skewX(-23deg);
          background-color: gray;
        }

        &.up{
          align-self: flex-start;
        }
        &.down{
          align-self: flex-end;
        }

        &.green{
          color: $color-green;

          .block{
            background-color: $color-green;
          }
        }

        h5, h6{
          width: 100%;
          margin: 0;
          text-align: center;
          white-space: nowrap;
        }
        h5{
          font-size: 20px;
          font-weight: 800;
        }

        h6{
          font-size: 14px;
        }
      }
    }
  }


  .about{
    padding: 0 9%;

    @include bp(tablet){
      padding: 0 5%;
      display: flex;
      flex-flow: row wrap;
    }

    .title_container{
      margin-bottom: 10px;

      @include bp(tablet){
        width: 100%;
        margin-bottom: 50px;
      }

      .title{

      }
    }

    .body_container{
      margin-bottom: 65px;

      @include bp(tablet){
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .body{
        margin: 0;
      }
    }

    .app_display_container{
      margin-bottom: 78px;

      @include bp(tablet){
        width: 50%;
      }
    }
  }

  .app_links_container{
    padding: 0 5%;
    padding-bottom: 60px;

    @include bp(tablet){
      margin: auto;
    }

    .link{
      @include bp(tablet){
        margin: auto;
        max-width: 500px;
      }
    }
  }
}
