/*
 * This file is part of IPLAY.
 * (c) IPY Holding AB.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.app_display_container{

  .frame{
    height: 610px;
    width: 295px;
    margin: auto;
    padding-left: 8px;

    background-color: #000;
    border-radius: 40px;
    padding-top: 44px;

    overflow-x: hidden;

    @include bp(desktop){
      padding-top: 40px;
      // height: 430px;
      // width: 205px;
    }

    div{
      display: flex;
    }

    .image{
      height: 500px;
      border-radius: 3px;
      opacity: 0;
      transition: opacity .5s;
      width: 280px!important; /*Override width set by swiper*/

      margin-left: 7px;

      &:first-child{
        margin-left: 0;
      }

      &.swiper-slide-active{
        opacity: 1;
      }

      @include bp(desktop){
        // height: 340px;
      }
    }
  }
}
