/*
 * This file is part of IPLAY.
 * (c) IPY Holding AB.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.sectionDivider{
  background-color: rgba(0,0,0,0);
  margin-top: -61px;

  display: none;

  .inner{
    height: 61px;
    width: 113px;
    margin: auto;

    transform: skewX(-23deg);

    background-color: $color-green;
  }
}
